form{
    width: 450px;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
    box-shadow: 2px 2px 2px 2px black;
}

h2{
    color: white;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea{
    min-height: 100px;
    max-height: 100px;
    max-width: 100%;
    min-width: 100%;
}

.btn{
    background-color: rgb(77, 28, 28);
    padding: 20px;
    color: white;
    border-radius: 5px;
}

.btn:hover{
    cursor: pointer;
    background-color: rgb(46, 18, 18);
}

@media (max-width: 480px){
    form{
        width: 100%;
    }
}